@import url("https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Comfortaa&display=swap");

@import "variables";


// // FONTS
//Ok, no adelantarse...

// font family
.ff-bai {
  font-family: "Bai Jamjuree", sans-serif;
}

.ff-comfortaa {
	font-family: "Comfortaa", cursive;
}

// font weight
.fw-400 {
  font-weight: 400;
}

.fw-600 {
  font-weight: 600;
}

// font size
.fs-96px {
	font-size: 10rem;
}

.fs-64px {
	font-size: 4rem;
}
.fs-52px {
	font-size: 3.25rem;
}

.fs-48px {
	font-size: 3rem;
}

.fs-38px {
	font-size: 2.375rem;
}

.fs-32px {
	font-size: 2rem;
}

.fs-28px {
	font-size: 1.75rem;
}

.fs-24px {
	font-size: 1.5rem;
}

.fs-20px {
	font-size: 1.25rem;
}

.fs-18px {
	font-size: 1.125rem;
}

.fs-16px {
	font-size: 1rem;
}


.fs-96px {
	font-size: 10rem;
}

.fs-66px {
	font-size: 4.5rem;
}

.fs-64px {
	font-size: 4rem;
}
.fs-52px {
	font-size: 3.25rem;
}

.fs-48px {
	font-size: 3rem;
}

.fs-38px {
	font-size: 2.375rem;
}

.fs-32px {
	font-size: 2rem;
}

.fs-28px {
	font-size: 1.75rem;
}

.fs-24px {
	font-size: 1.5rem;
}

.fs-20px {
	font-size: 1.25rem;
}

.fs-18px {
	font-size: 1.125rem;
}

.fs-16px {
	font-size: 1rem;
}



// // COLORS

// primary colors
.strong-cyan {
  color: $strongCyan !important;
}

.light-blue {
  color: $lightBlue !important;
}

// neutral colors
.dark-grayish-blue {
  color: $darkGrayishBlue !important;
}

.grayish-blue {
  color: $grayishBlue !important;
}

// // BACKGROUND COLORS

// primary colors
.bg-strong-cyan {
  background-color: $strongCyan !important;
}

.bg-light-blue {
  background-color: $lightBlue !important;
}

// neutral colors
.bg-dark-grayish-blue {
  background-color: $darkGrayishBlue !important;
}

.bg-grayish-blue {
  background-color: $grayishBlue !important;
}

// footer

.bg-footer{
	background-color: #F5F6F8;
}


// // MARGIN

.mt-6{
	margin-top: 3.5rem;
}

.mt-7{
	margin-top: 4rem;
}

.mt-8{
	margin-top: 4.5rem;
}



.mb-6{
	margin-bottom: 3.5rem;
}

.mb-7{
	margin-bottom: 4rem;
}

.mb-8{
	margin-bottom: 4.5rem;
}

.mb-9{
	margin-bottom: 5rem;
}

.mb-10{
	margin-bottom: 6rem;
}